/*
* Button component
*/

.c-button {
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25em 1em;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;

  &:focus,
  &:hover {
    color: black;
    background-color: white;
  }

  & + & {
    margin-left: 0.25rem;
  }
}


/* Modifiers */

.c-button--full-width {
  width: 100%;
}