.background-image {
  background-image: url('background-mixer.jpg');
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; 
  position: relative;
}