
:root {
  --color-tbc-red:     #9f0600;
  --color-gray-light:  #b4b4b4;
  --color-gray-medium: #8c8989;
  --color-gray-dark:   #2c2d2f;
}

body {
  color: white;
  background-color: black;
}

a {
  color: white;
}

.background-image {
  background-image: url('background-mixer.jpg');
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; 
  position: relative;
}