/*
* Body element
*/

body {
  color: white;
  font-family: 'Segoe UI', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: black;
}