/*
* These styles need a home
*/

.input {
  color: white;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black; 
  background-color: rgba(255, 255, 255, 0.3);
}

.input--full-width {
  width: 100%;
}

.label {
  font-size: 0.75rem;
}

//Login styles
// .form {
//   width: 90vw;
// }

// @media (min-width: 24rem) {
//   .form {
//     width: 20rem;
//   }
// }

// .button {
//   margin-top: 2rem;
// }